
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    line-height: 1.15;
}

/* PARTE DE ARRIBA */

.top-nav-bar{
    display:flex;
    background-color: #333;
    padding:10px;
}
.datos-izq{
    margin-right: auto;
    margin-left:100px;
    color:white;
    justify-content: left;
}
.datos-der{
    margin-right:100px;
    margin-left:auto;
    justify-content: right;
}

.datos-der a{
    text-decoration: none;
    color:white;
    margin-right:10px;
}

/* NAV */

nav{
    padding-top:5px;
    padding-bottom:5px;
}

.contenedor-nav{
    display:flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.parte-izq{
    display:flex;
    margin-left:auto;
    margin-right:auto;
}

.logo-izq{
    margin-top:8px;
}

.menu{
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

.menu img{
    display:none;
}


.menu ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    margin:10px;
}

li a{
    color: #087021;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}


/* PORTADA Y BUSCADOR */

.portada{
    background-image: url(../images/fondo.jpg);
    background-size: cover; /* Cubre completamente el área del div con la imagen */
    background-position: center;
    height: 650px;
}

.buscador{
    display: inline-block;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 25px 50px 30px 50px;
    border-radius: 3.2px;
    background-color: rgba(255,255,255,.85);
    width: 800px;
    font-weight: bold;
    }


.buscador-search input{
    padding:10px;
    border:1px solid #ddd;
    outline:none;
    border-radius: 5px;
    font-size:16px;
    width:720px;
    border-color: #087021;
    height:30px;
}

.buscador-search button{
    padding:10px;
    background-color:#087021;
    border:none;
    border-radius:5px;
    color:white;
    font-size:16px;
    cursor:pointer;
    height:50px;
    width:50px;
}



.buscador-title{
    margin-bottom:10px;
}

/* TITULO DIRECTO A */

.directo{
    display:flex;
}
.hueco{
    width:80%;
}
.directo h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color:#333;
    margin-left:auto;
    font-size:xx-large;
}
/*
h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color:#333;
    margin-left: 270px;
    font-size:xx-large; 
    margin-left:250px;
}
*/


/* CAJAS */
.cajas{
    display:flex;
    justify-content: center;
}

.caja{
    border: 1px solid #ccc;
    padding: 24px 15px 15px;
    margin: 0 0.5rem;
    width: 289px;
    min-height: 20em;
}

.opciones li a{
    display:block;
    margin-bottom: 30px;
    font-size: 14px;
}

.opciones ul{
    list-style-type: none;
}


.caja h3{
    color:#333;
    margin-bottom: 15px;
}

hr{
    margin-bottom:30px;
}

@media (max-width: 1250px) {
    
    .menu li{
        margin:6px;
    }
    .menu li a {
      font-size: 12px;
    }
  
    .logo-izq img {
      width: 40px; 
    }
    .logo-izq-2{
        margin-top:5px;
    }
    .logo-izq-2 img{
        width: 200px;
    }
  }

  @media (max-width: 900px) {
    .menu li{
        display:none;

    }

    .menu img{
        display:block;
    }
  }

  @media (max-width: 650px) {
    .datos-der{
        margin-right:0;
        font-size: 13px;
    }

    .datos-izq{
        margin-left:0;
        font-size: 13px;
    }
    .contenedor-nav{
        padding:0;
    }
  }

  @media (max-width: 950px) {
    .buscador{
        width: 400px;
    }

    .buscador-search input{
        width:300px;
    }
  }

  @media (max-width: 550px) {
    .buscador{
        width: 200px;
        margin:0;
    }

    .buscador-search input{
        width:120px;
        height:20px;
    }

    .buscador-search button{
        height:43px;
        width:43px;
    }
  }

  @media (max-width: 900px) {
    .cajas{
        flex-direction:column;
        align-items: center;
    }
  }
  @media (max-width: 930px) {
    .directo h2{
        margin-left: 30px;
    }
  }
